<% include('../layouts/header.ejs') %>

<h1>User Registration form</h1>

<form action="/register" method="POST" enctype="multipart/form-data">
    <div class="input-wrap">
        <label for="name">Name</label>
        <input type="name" name="name" placeholder="Enter name..." required>
    </div>

    <div class="input-wrap">
        <label for="name">Email</label>
        <input type="email" name="email" placeholder="Enter email..." required>
    </div>

    <div class="input-wrap">
        <label for="number">Number</label>
        <input type="number" name="number" placeholder="Enter number..." required>
    </div>

    <div class="input-wrap">
        <label for="image">Image</label>
        <input type="file" name="image" required>
    </div>

    <div class="input-wrap">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter password..." required>
    </div>

    <input type="submit" value="Register">
</form>

<% if (typeof message !== 'undefined') { %>
    <p style="color:green"><%= message %></p>
<% } %>

<% include('../layouts/footer.ejs') %>